  .bg-purple {
     background-color: #9c27b0 !important;
  }

  .border-purple {
     border-color: #9c27b0 !important;
  }

  .btn-purple {
     background-color: #9c27b0;
     color: #fff;
  }

  .btn-purple:hover {
     background-color: #7b1fa2;
     color: #fff;
  }

  .btn-outline-purple {
     color: #9c27b0;
     border-color: #9c27b0;
  }

  .btn-outline-purple:hover {
     background-color: #9c27b0;
     color: #fff;
  }